{% extends 'template/index.html' %}
{% block content %}
    <div class="container">
    <h1>Disclaimer</h1>

    <p>Last updated: September 17, 2019</p>

    <p>The information contained on https://couponbottle.net website (the "Service") is for general information purposes only.</p>

    <p>Coupon Bottle assumes no responsibility for errors or omissions in the contents on the Service.</p>

    <p>In no event shall Coupon Bottle be liable for any special, direct, indirect, consequential, or incidental damages or any damages whatsoever, whether in an action of contract, negligence or other tort, arising out of or in connection with the use of the Service or the contents of the Service. Coupon Bottle reserves the right to make additions, deletions, or modification to the contents on the Service at any time without prior notice. The Disclaimer  for Coupon Bottle is kept up to date by <a href="https://www.freeprivacypolicy.com/">Free Privacy Policy</a>.</p>

    <p>Coupon Bottle does not warrant that the website is free of viruses or other harmful components.</p>

    <h2>External links disclaimer</h2>

    <p>https://couponbottle.net website may contain links to external websites that are not provided or maintained by or in any way affiliated with Coupon Bottle</p>

    <p>Please note that the Coupon Bottle does not guarantee the accuracy, relevance, timeliness, or completeness of any information on these external websites.</p>

    </div>

{% endblock %}