{% extends 'template/index.html' %}
{% block content %}

    <div class="container margin-top-xs margin-top-sm margin-top-md margin-top-lg margin-top-xl">
    <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-8 rec">
            <div class="card shadow mb-4 bg-white rounded">
                <img class="card-img-top" src="{{ UdemyLinks.details.image }}" alt="Card image" style="width:100%">
              <div class="card-body">
                <h1 class="card-title">{{ UdemyLinks.details.title }}</h1>
                <h4 class="card-text">{{ UdemyLinks.details.description }}</h4>
                <div class="card-text">{{ UdemyLinks.details.desc_para|safe }}</div>
                <a href="{{ UdemyLinks.url }}" class="btn btn-block btn-success shadow">Redeem Udemy</a>
              </div>
            </div>
          </div>
    </div>
    </div>

{% endblock %}