<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>Test Page Brain Education</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/26d6f30346.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,900&display=swap" rel="stylesheet">
    <style>
        body { padding-top: 70px; }
        .margin-top-xs { margin-top: .25em; }
        .margin-top-sm { margin-top: .5em; }
        .margin-top-md { margin-top: 1em; }
        .margin-top-lg { margin-top: 1.5em; }
        .margin-top-xl { margin-top: 3em; }
        .cut {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        {##mynav, #mynav a{#}
        {#    background-color: white ;#}
        {#    color: #172337 !important;#}
        {#}#}
        .myfooter, .myfooter a{
            background-color: #172337 !important;
            color: white;
            border: 1px solid #172337;
        }
        {#a{#}
        {#    background-color: #172337 !important;#}
        {#}#}
        .navbar-custom,.navbar-custom a,.navbar-custom span {
            color: white !important;
            background-color: #e34763;
        }
        #coupon{
            font-family: 'Lato', sans-serif;
            font-weight: normal;
            font-size: 25px;
        }
        #bottle{
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            font-size: 25px;
        }
        #submit{
            border: 1px solid white;
            border-radius: 5px;
        }
        .vl {
          border-left: 2px solid white;
          height: 40px;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg  fixed-top shadow-sm mb-5 navbar-custom" role="navigation">
        <a href="{% url 'Courses' %}" class="navbar-brand"><span id="coupon">Coupon</span><span id="bottle"> Bottle</span></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="dark-blue-text"><i
        class="fas fa-bars fa-1x"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{% url 'Courses' %}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Categories</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'Courses' %}" class="nav-link">Free Courses</a>
                </li>
                <div class="vl"></div>
                <li class="nav-item" >
                    <a href="{% url 'submit_course' %}" class="nav-link">Submit Courses</a>
                </li>
            </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <div class="container">
    <div class="d-flex justify-content-center">
        <ul class="pagination pagination-lg">
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            {% for i in page_nav %}
            <li class="page-item"><a class="page-link" href="{% url 'Courses' i %}">{{ i }}</a></li>
            {% endfor %}
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
        </ul>
    </div>
    </div>

    <!-- Footer -->
<footer class="pt-15 myfooter" >


  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3" >

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Coupon Wall</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Here you can find udemy courses coupon code</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <p>
          <a href="">Free Courses</a>
        </p>
        <p>
          <a href="#!">Open Offers</a>
        </p>
        <p>
          <a href="#!">All Courses</a>
        </p>
        <p>
          <a href="#!"></a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Polices</h6>
        <p>
          <a href="{% url 'privacy_policy' %}">Privacy and Policies</a>
        </p>
        <p>
          <a href="{% url 'terms_and_condition' %}">Terms and conditions</a>
        </p>
        <p>
          <a href="{% url 'disclaimer' %}">Disclimer</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <p>
          <i class="fas fa-home mr-3"></i>About Us</p>
        <p>
          <i class="fas fa-envelope mr-3"></i>Contact Us
        </p>
        <p>
           <i class="fas fa-envelope mr-3"></i>couponbottle@gmail.com
        </p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->



  <!-- Copyright -->
  <div style="background-color: #172337; color: white; border-top: 1px solid steelblue">
    <div class="container">
      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">© 2018 Copyright: couponbottle.net</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>


</footer>
<!-- Footer -->

    <!-- Bootstrap JS Jq Pjs -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>