{% extends 'template/index.html' %}
{% block content %}

    <div class="container margin-top-xs margin-top-sm margin-top-md margin-top-lg margin-top-xl">
    <div class="row">
        {% for link in UdemyLinks %}
          <div class="col-sm-12 col-md-12 col-lg-4 rec">
            <div class="card shadow mb-4 bg-white rounded">
                <img class="card-img-top" src="{{ link.details.image }}" alt="Card image" style="width:100%">
              <div class="card-body">
                <h5 class="card-title cut">{{ link.details.title }}</h5>
                <p class="card-text cut">{{ link.details.description }}</p>
{#                  <a href="{% url 'course' link.id|add:"19" %}" class="btn btn-success">Get The Course</a>#}
                  <a href="{% url 'course' link.link %}" class="btn btn-success">Get The Course</a>
              </div>
            </div>
          </div>
         {% endfor %}
    </div>
    </div>

{% endblock %}