{% extends 'template/index.html' %}
{% block content %}
    <div class="container" style="margin-top: 50px;">
        <h2>Submit Course</h2>
    </div>
    <div class="container" style="margin-top: 50px;">
        <form method="POST" action="" class="form-horizontal">{% csrf_token %}
            <div class="form-group has-success">
                <label class="control-label col-sm-2" for="id1">Name</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="id1" placeholder="Enter your Name" name="name">
                </div>
            </div>
            <div class="form-group has-success">
                <label class="control-label col-sm-2" for="id2">Email</label>
                <div class="col-sm-6">
                    <input class="form-control" type="email" id="id2" placeholder="Enter your Email-id" name="email">
                </div>
            </div>
            <div class="form-group has-success">
                <label class="control-label col-sm-2" for="id2">Course Link</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="id2" placeholder="Enter course link" name="course_url" id="link" oninput="generateFullLink()">
                </div>
            </div>
            <div class="form-group has-success">
                <label class="control-label col-sm-2" for="id2">Coupon Code</label>
                <div class="col-sm-6">
                    <input class="form-control" type="test" id="id2" placeholder="Enter coupon code" name="coupon_code" id="code" oninput="generateFullLink()">
                </div>
            </div>
            <div class="container">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>

{% endblock %}